<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Your OTP Code</title>
  </head>
  <body>
    <h2>Hello!</h2>
    <p>Your OTP code is:</p>
    <h3 style="color: #16a34a;"><%= otp %></h3>
    <p>This OTP will expire in 5 minutes.</p>
  </body>
</html>
